{erl_opts, []}.

{deps, [
    {esubscribe, {git, "https://github.com/vzroman/esubscribe.git", {branch, "main"}}},
    {zaya_rocksdb, {git, "https://github.com/vzroman/zaya_rocksdb.git", {branch, "main"}}},
    {cowboy, {git, "https://github.com/vzroman/cowboy.git", {tag, "2.10.0"}}}
]}.

{shell,[
    {config, "config/sys.config"},
    {apps, [http_broker]}
]}.

{relx,[
    {release, { http_broker , "0.0.1"},[
        kernel,
        stdlib,
        sasl,
        lager,
        http_broker
    ]},
    {include_erts, false},
    {vm_args, "./config/vm.args"},
    {sys_config, "./config/sys.config"},
    {extended_start_script, true},
    {overlay,[
    ]}
]}.


{profiles, [
    {prod, [
        {erl_opts, [no_debug_info, warnings_as_errors, {parse_transform, lager_transform} ]},
        {relx, [
            {dev_mode, false},
            {debug_info, keep},     % ATTENTION! We do really need this only because of ekka. It uses module_info of each found module to initialize its database. Dirty but we still need it
            {include_src, false},
            {include_erts, true }
        ]}
    ]}
]}.
