{erl_opts, []}.

{deps, [
    {esubscribe, {git, "https://github.com/vzroman/esubscribe.git", {branch, "main"}}},
    {zaya_rocksdb, {git, "https://github.com/vzroman/zaya_rocksdb.git", {branch, "main"}}},
    {cowboy, {git, "https://github.com/vzroman/cowboy.git", {tag, "2.10.0"}}}
]}.

{shell,[
    {config, "config/sys.config"},
    {apps, [http_broker]}
]}.
