[
  {kernel, [
    {inet_dist_listen_min, 7000},
    {inet_dist_listen_max, 7000}
  ]},
  {ssl, [
    {cacertfile, "ca-chain.cert.pem"},
    {certfile, "cert.pem"},
    {keyfile, "key.pem"}
  ]},
  {endpoints, [
    {endpoint1, #{
      strategy => all,
      targets => #{
        "http://service1.org/some_path" => #{
          order => 0
%%          ssl => <optional> % ssl params for service
        }
      }
    }},
    {endpoint2, #{
      strategy => one,
      targets => #{
        "http://service1.org/some_path" => #{
          order => 0
%%          ssl => <optional> % ssl params for service
        }
      }
    }}
  ]},
  {max_age, [{days, 30}]}
].
