[
  {http_broker, [
    %%--------------HTTP server settings---------------------------------
    {port, 7000},
%%    {ssl, [
%%      {cacertfile, "ca-chain.cert.pem"},
%%      {certfile, "cert.pem"},
%%      {keyfile, "key.pem"}
%%    ]},

    %-------------Services settings--------------------------------------
    {retry_cycle, 1000},                    %% milliseconds
    {max_age, 30},                          %% days
    {purge_cycle, 3600},                    %% seconds
    {max_age_cycle, 3600},                  %% seconds
    {queue_dir, "QUEUE"},

    %------------ENDPOINTS->TARGETS---------------------------------------
    {endpoints, #{
      "/endpoint1" => #{
        strategy => one,
        targets => #{
          "http://ODIN" => #{
            order => 1
%%          ssl => <optional> % ssl params for service
          }
        }
      },
      "/endpoint2"=> #{
        strategy => one,
        targets => #{
          "http://DVA" => #{
            order => 0
%%          ssl => <optional> % ssl params for service
          }
        }
      },
      "/endpoint3"=> #{
        strategy => one,
        targets => #{
          "http://THREE" => #{
            order => 0
%%          ssl => <optional> % ssl params for service
          }
        }
      },
      "/endpoint4"=> #{
        strategy => all,
        targets => #{
          "http://127.0.0.1:7000/endpoint4" => #{
            order => 4
%%          ssl => <optional> % ssl params for service
          },
          "http://192.168.1.77:7000/rest/http_test" => #{
            order => 6
%%          ssl => <optional> % ssl params for service
          },
          "http://127.0.0.1:7000/TESTTEST" => #{
            order => -1
%%          ssl => <optional> % ssl params for service
          },
          "http://127.0.0.1:7000/endpoint1" => #{
            order => 2
%%          ssl => <optional> % ssl params for service
          }
        }
      }}
    }
  ]},

  %%--------------------logging settings-----------------------------------------------------------
  {kernel,[
    {logger_level, info},
    {logger,[
      { handler, console, logger_std_h, #{ level => info }},
      { handler, info, logger_std_h, #{ level => info, formatter => {logger_formatter, #{}}, config => #{
        file => "logs/console.log",
        max_no_bytes => 104857600,  % 100 MB
        max_no_files => 100
      }}},
      { handler, error, logger_std_h, #{ level => error, formatter => {logger_formatter, #{}}, config => #{
        file => "logs/error.log",
        max_no_bytes => 104857600,  % 100 MB
        max_no_files => 100
      }}}
    ]}
  ]}
].
