[
  {http_broker, [
    {port, [7000]},
    {ssl, [
      {cacertfile, "ca-chain.cert.pem"},
      {certfile, "cert.pem"},
      {keyfile, "key.pem"}
    ]},
    {endpoints, #{
      "endpoint1" => #{
        strategy => all,
        targets => #{
          "https://some_path1" => #{
            order => 0
%%          ssl => <optional> % ssl params for service
          }
        }
      },
      "endpoint2"=> #{
        strategy => one,
        targets => #{
          "http://some_path2" => #{
            order => 0
%%          ssl => <optional> % ssl params for service
          }
        }
      },
      "endpoint3"=> #{
        strategy => one,
        targets => #{
          "http://some_path3" => #{
            order => 1
%%          ssl => <optional> % ssl params for service
          }
        }
      }}
    },
    {max_age, [{days, 30}]}
  ]}
%%  {kernel,[
%%    {logger_level, info},
%%    {logger,[
%%      { handler, console, logger_std_h, #{ level => info }},
%%      { handler, info, logger_std_h, #{ level => info, formatter => {logger_formatter, #{}}, config => #{
%%        file => "logs/console.log",
%%        max_no_bytes => 104857600,  % 100 MB
%%        max_no_files => 100
%%      }}},
%%      { handler, error, logger_std_h, #{ level => error, formatter => {logger_formatter, #{}}, config => #{
%%        file => "logs/error.log",
%%        max_no_bytes => 104857600,  % 100 MB
%%        max_no_files => 100
%%      }}}
%%    ]}
%%  ]}
].
